<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_guest.html">
<head>
	<title th:text="#{login.form.title}">Login</title>
</head>
<body>
<th:block layout:fragment="content">
	<!-- Start Login Area -->
	<div class="login-area bg-image">
		<div class="d-table">
			<div class="d-table-cell">
				<div class="login-form">
					<div class="logo">
						<a href="../index.html">
							<img src="../assets/img/logo.png" alt="image">
						</a>
					</div>

					<h2 th:text="#{login.form.title}">Welcome</h2>

					<div style="margin: 12px -30px;" class="error p-2 bg-danger text-white" th:if="${error}" th:text="${error}"></div>

					<form th:object="${formLogin}" method="POST">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<div class="form-group">
							<input type="text" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" class="form-control" th:field="*{email}" th:placeholder="#{login.form.username}">
							<span class="label-title">
                                <i class='bx bx-envelope'></i>
                            </span>
							<span class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('email')}">
							<strong th:errors="*{email}"></strong>
						</span>
						</div>

						<div class="form-group">
							<input type="password" th:classappend="${#fields.hasErrors('password') ? 'is-invalid' : ''}" class="form-control" name="password" th:placeholder="#{login.form.password}" />
							<span class="label-title">
                                <i class='bx bx-lock'></i>
                            </span>
							<span class="invalid-feedback" role="alert" th:if="${#fields.hasErrors('password')}">
							<strong th:errors="*{password}"></strong>
						</span>
						</div>

<!--						<div class="form-group">-->
<!--							<div class="remember-forgot">-->
<!--								<label class="checkbox-box">Remember me-->
<!--									<input type="checkbox">-->
<!--									<span class="checkmark"></span>-->
<!--								</label>-->
<!--								<a href="forgot-password.html" class="forgot-password">Forgot password?</a>-->
<!--							</div>-->
<!--						</div>-->

						<button type="submit" class="login-btn" th:text="#{login.form.submit}"></button>

						<p class="mb-0">Don’t have an account? <a th:href="@{/register}">Sign Up</a></p>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Login Area -->
</th:block>
</body>
</html>
